.parentConttainer{
    width: 50%;
    height:60%;
    border: 8px double black;
    position: absolute;
    left: 25%;
    top: 20%;
background-color: rgb(255, 242, 126);
}
body{
    background-color: rgb(197, 37, 37);
}
